<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <a class="navbar-brand" href="/">BookBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline mx-auto my-lg-0 mb-1" action="/api/search" method="POST">
                <div class="input-group my-1">
                        <div class="form-group">
                            <input class="form-control" type="text" name="search" placeholder="Search" required>
                        </div>
                        <div class="form-group input-group-append">
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                </div>
            </form>
            <ul class="navbar-nav">

                <% if (!user) { %> 
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            
                                Login
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">
                            
                                Sign Up
                    
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/addBook">
                                
                                    Suggest Book
                        
                            </a>   
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mycatalogue">
                                
                                    My Catalogue
                        
                            </a>    
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/logout">
                                
                                    Logout
                        
                            </a>
                        </li>
                        <% if(user.admin == 1) {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/unapprovedBooks">
                                    
                                        Unapproved Books
                            
                                </a>
                            </li>
                            <% }%>
                            <% } %>
                        </div>
                    </ul>
                    </nav>
                    