<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol.lst-kix_8jl6p9h5vhkc-2.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-2 0
        }

        .lst-kix_8jl6p9h5vhkc-3>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-3
        }

        ol.lst-kix_yaddvclmozdy-3.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-3 0
        }

        .lst-kix_yaddvclmozdy-4>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-4
        }

        ol.lst-kix_yaddvclmozdy-7.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-7 0
        }

        ol.lst-kix_yaddvclmozdy-0.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-0 0
        }

        .lst-kix_yaddvclmozdy-3>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-3
        }

        ol.lst-kix_8jl6p9h5vhkc-8 {
            list-style-type: none
        }

        ol.lst-kix_8jl6p9h5vhkc-7 {
            list-style-type: none
        }

        ol.lst-kix_8jl6p9h5vhkc-4 {
            list-style-type: none
        }

        .lst-kix_yaddvclmozdy-2>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-2
        }

        ol.lst-kix_8jl6p9h5vhkc-3 {
            list-style-type: none
        }

        ol.lst-kix_8jl6p9h5vhkc-6 {
            list-style-type: none
        }

        ol.lst-kix_8jl6p9h5vhkc-5 {
            list-style-type: none
        }

        .lst-kix_8jl6p9h5vhkc-7>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-7
        }

        ol.lst-kix_8jl6p9h5vhkc-0 {
            list-style-type: none
        }

        .lst-kix_8jl6p9h5vhkc-1>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-1
        }

        ol.lst-kix_yaddvclmozdy-3 {
            list-style-type: none
        }

        ol.lst-kix_yaddvclmozdy-4 {
            list-style-type: none
        }

        ol.lst-kix_8jl6p9h5vhkc-2 {
            list-style-type: none
        }

        ol.lst-kix_yaddvclmozdy-1 {
            list-style-type: none
        }

        ol.lst-kix_8jl6p9h5vhkc-1 {
            list-style-type: none
        }

        ol.lst-kix_8jl6p9h5vhkc-1.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-1 0
        }

        .lst-kix_8jl6p9h5vhkc-4>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-4
        }

        ol.lst-kix_yaddvclmozdy-2 {
            list-style-type: none
        }

        ol.lst-kix_yaddvclmozdy-7 {
            list-style-type: none
        }

        ol.lst-kix_yaddvclmozdy-8 {
            list-style-type: none
        }

        ol.lst-kix_yaddvclmozdy-4.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-4 0
        }

        ol.lst-kix_yaddvclmozdy-5 {
            list-style-type: none
        }

        ol.lst-kix_yaddvclmozdy-6 {
            list-style-type: none
        }

        ol.lst-kix_yaddvclmozdy-1.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-1 0
        }

        ol.lst-kix_8jl6p9h5vhkc-5.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-5 0
        }

        ol.lst-kix_yaddvclmozdy-0 {
            list-style-type: none
        }

        .lst-kix_yaddvclmozdy-8>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-8
        }

        .lst-kix_yaddvclmozdy-5>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-5
        }

        ol.lst-kix_8jl6p9h5vhkc-8.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-8 0
        }

        .lst-kix_8jl6p9h5vhkc-0>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-0, decimal) ". "
        }

        .lst-kix_8jl6p9h5vhkc-0>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-0
        }

        .lst-kix_yaddvclmozdy-6>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-6
        }

        ol.lst-kix_yaddvclmozdy-5.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-5 0
        }

        .lst-kix_8jl6p9h5vhkc-4>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-4, lower-latin) ". "
        }

        ol.lst-kix_yaddvclmozdy-8.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-8 0
        }

        .lst-kix_8jl6p9h5vhkc-6>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-6
        }

        .lst-kix_8jl6p9h5vhkc-5>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-5, lower-roman) ". "
        }

        .lst-kix_yaddvclmozdy-7>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-7
        }

        ol.lst-kix_8jl6p9h5vhkc-7.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-7 0
        }

        .lst-kix_8jl6p9h5vhkc-3>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-3, decimal) ". "
        }

        ol.lst-kix_8jl6p9h5vhkc-4.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-4 0
        }

        ol.lst-kix_yaddvclmozdy-2.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-2 0
        }

        .lst-kix_8jl6p9h5vhkc-2>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-2, lower-roman) ". "
        }

        .lst-kix_8jl6p9h5vhkc-1>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-1, lower-latin) ". "
        }

        .lst-kix_yaddvclmozdy-0>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-0
        }

        .lst-kix_yaddvclmozdy-3>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-3, decimal) ". "
        }

        ol.lst-kix_8jl6p9h5vhkc-3.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-3 0
        }

        .lst-kix_yaddvclmozdy-1>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-1, lower-latin) ". "
        }

        .lst-kix_yaddvclmozdy-5>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-5, lower-roman) ". "
        }

        .lst-kix_yaddvclmozdy-0>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-0, decimal) ". "
        }

        .lst-kix_yaddvclmozdy-4>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-4, lower-latin) ". "
        }

        .lst-kix_yaddvclmozdy-2>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-2, lower-roman) ". "
        }

        ol.lst-kix_8jl6p9h5vhkc-6.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-6 0
        }

        .lst-kix_8jl6p9h5vhkc-7>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-7, lower-latin) ". "
        }

        ol.lst-kix_8jl6p9h5vhkc-0.start {
            counter-reset: lst-ctn-kix_8jl6p9h5vhkc-0 0
        }

        .lst-kix_8jl6p9h5vhkc-2>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-2
        }

        .lst-kix_8jl6p9h5vhkc-6>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-6, decimal) ". "
        }

        .lst-kix_8jl6p9h5vhkc-8>li:before {
            content: ""counter(lst-ctn-kix_8jl6p9h5vhkc-8, lower-roman) ". "
        }

        .lst-kix_yaddvclmozdy-1>li {
            counter-increment: lst-ctn-kix_yaddvclmozdy-1
        }

        .lst-kix_8jl6p9h5vhkc-8>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-8
        }

        .lst-kix_yaddvclmozdy-8>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-8, lower-roman) ". "
        }

        .lst-kix_yaddvclmozdy-7>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-7, lower-latin) ". "
        }

        ol.lst-kix_yaddvclmozdy-6.start {
            counter-reset: lst-ctn-kix_yaddvclmozdy-6 0
        }

        .lst-kix_yaddvclmozdy-6>li:before {
            content: ""counter(lst-ctn-kix_yaddvclmozdy-6, decimal) ". "
        }

        .lst-kix_8jl6p9h5vhkc-5>li {
            counter-increment: lst-ctn-kix_8jl6p9h5vhkc-5
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c0 {
            margin-left: 72pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c1 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c2 {
            margin-left: 72pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c5 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c6 {
            margin-left: 108pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c9 {
            background-color: #ffffff;

        }

        .c3 {
            padding: 0;
            margin: 0
        }

        .c7 {
            padding-left: 0pt
        }

        .c8 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/stars.css">
    <title>FAQ - BookBot</title>
</head>
<% include ./partials/header.ejs %>
<div class="container">
    <div class="mt-5 pt-5 pb-5 pr-5 c9">
            <h1 style="text-align: center;">FAQ's</h1>
            <hr class="ml-5">
            <br>
    <ol class="c3 lst-kix_8jl6p9h5vhkc-0 start" start="1">
        <li class="c5 c7"><span class="c1">Homepage - New User</span></li>
    </ol>
    <p class="c5"><span class="c4">When first visiting the website users will be placed on the home page where they will
            see the following functions:</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1 start" start="1">
        <li class="c0"><span class="c1">Search Books</span></li>
    </ol>
    <p class="c2"><span class="c4">All users, whether logged in or not are able to search our database of books through
            the homepage. Simply locate the search bar at the top center of the page and enter test in order to search
            for specific books or search for books by keyword.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="2">
        <li class="c0"><span class="c1">Sort Books</span></li>
    </ol>
    <p class="c2"><span class="c4">All users, whether logged in or not, will be able to sort books by title, author,
            genre, publication year and isbn number. Simply locate the sort book function below the search bar and to
            the right and select an option from the drop down menu.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="3">
        <li class="c0"><span class="c1">View Book</span></li>
    </ol>
    <p class="c2"><span class="c4">All users, whether logged in or not, will be able to view more details about a book.
            Simply click on the title of any book in the database in order to see more details.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="4">
        <li class="c0"><span class="c1">Sign-up</span></li>
    </ol>
    <p class="c2"><span class="c4">Users who are not logged into an account will see an option to sign up for an account
            which once signed up and logged in will grant the user access to additional features. These features include
            suggest new books for the database, leaving rating and reviews on books and a personal catalog for each
            user. To create an account click on the sign up button located at the top right of the page and fill out the
            required fields.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="5">
        <li class="c0"><span class="c1">Login</span></li>
    </ol>
    <p class="c2"><span class="c4">Users who are not logged in but have already signed up can login to their account
            where the information contained in their catalog will be saved and will also allow the user to access
            additional features including the ones stated in the sign up section above. To login, locate the login
            button located to the left of the sign up button and enter your email and matching to login.</span></p>
    <p class="c2 c8"><span class="c4"></span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-0 start" start="1">
        <li class="c5 c7"><span class="c1">Homepage - Logged In</span></li>
    </ol>
    <p class="c5"><span class="c4">Once users are logged in to the homepage they will have access to all of the features
            listed above, except for sign up and login, as well as the additional features listed below:</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="6">
        <li class="c0"><span class="c1">View Book</span></li>
    </ol>
    <p class="c2"><span class="c4">Like users who are not logged in, users who are logged in will be able to click on a
            book title to view more information about as well as the ability to perform the following functions once
            looking at a specific book in detail.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-2 start" start="1">
        <li class="c6 c7"><span class="c1">Rate Book</span></li>
    </ol>
    <p class="c6"><span class="c4">Logged in users will be able to leave ratings on individual books out of 5 stars. The
            ratings of all users are combined to get an overall rating for the book which is displayed when viewing more
            details about the book. To leave a review however your mouse over the stars and select your desired
            rating.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-2" start="2">
        <li class="c6 c7"><span class="c1">Enter Review</span></li>
    </ol>
    <p class="c6"><span class="c4">Logged in users will also be able to leave reviews on individual books. Simply click
            on the text box on the books page and begin typing to leave a review. The users individual rating for the
            book will also be displayed alongside their review.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="7">
        <li class="c0"><span class="c1">Logout</span></li>
    </ol>
    <p class="c2"><span class="c4">Logged in users will have the ability to log out of their account. To logout there is
            a button at the top left of the homepage labeled logout, simply click this button to logout of your account.
            All data on your account is automatically saved for the next time you login.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="8">
        <li class="c0"><span class="c1">Add Book to Catalogue</span></li>
    </ol>
    <p class="c2"><span class="c4">Logged in users will have the ability to add books from the database to their
            personal catalog. In order to add a book to your catalog find the book that you want to add on the home page
            and click the button labeled add to list to the right of the book. This book will then be added to your
            personal catalog, it&rsquo;s important to note that this can only be done from the home page and not once
            you click on a book for more details. You can still search or sort the books in the database and add them to
            your personal catalogue.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="9">
        <li class="c0"><span class="c1">Suggest Book</span></li>
    </ol>
    <p class="c2"><span class="c4">Logged in users will have the ability to suggest books to be added to the database.
            Users can locate this function near the top right of the home page. After clicking the suggest a book you
            will be prompted to enter general information about the book that must be filled out and submitted. Once
            submitted the book will be sent to an admin queue for approval to be added to the database.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="10">
        <li class="c0"><span class="c1">Profile</span></li>
    </ol>
    <p class="c2"><span class="c4">Logged in users will be able to access details about their profile by clicking the
            button labeled profile on the top right of the home page. From here you can edit any information about your
            profile including changing your password.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="11">
        <li class="c0"><span class="c1">My Catalogue</span></li>
    </ol>
    <p class="c2"><span class="c4">Logged in users can access their saved personal catalogue by clicking the button
            labeled MyCatalogue on the top right of the home page. On this page, users will be able to see any books
            that they have added to their personal catalogue. The MyCatalogue feature will be described more in-depth in
            the next section.</span></p>
    <p class="c2 c8"><span class="c4"></span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-0" start="2">
        <li class="c5 c7"><span class="c1">My Catalogue</span></li>
    </ol>
    <p class="c5"><span class="c4">The MyCatalogue page will store a list of books for logged in users which they have
            personally added to their list.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="12">
        <li class="c0"><span class="c1">View Book</span></li>
    </ol>
    <p class="c2"><span class="c4">Users will be able to access more details about a book that is already in their
            catalogue. This is done the same way it is on the home page, simply click on any book title in your personal
            catalogue to access more details about the book.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-2" start="3">
        <li class="c6 c7"><span class="c1">Rate Book</span></li>
    </ol>
    <p class="c6"><span class="c4">Users will be able to leave ratings on individual books out of 5 stars. The ratings
            of all users are combined to get an overall rating for the book which is displayed when viewing more details
            about the book. To leave a review however your mouse over the stars and select your desired rating.</span>
    </p>
    <ol class="c3 lst-kix_yaddvclmozdy-2" start="4">
        <li class="c6 c7"><span class="c1">Enter Review</span></li>
    </ol>
    <p class="c6"><span class="c4">Users will also be able to leave reviews on individual books. Simply click on the
            text box on the books page and begin typing to leave a review. The users individual rating for the book will
            also be displayed alongside their review.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="13">
        <li class="c0"><span class="c1">Remove Book</span></li>
    </ol>
    <p class="c2"><span class="c4">Users will be able to remove books from their personal catalogue by clicking the
            remove book from list button underneath each book entry in their catalogue. Books can only be removed from a
            user&rsquo;s catalogue through the MyCatalogue page and cannot be removed from the homepage.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="14">
        <li class="c0"><span class="c1">Search Books</span></li>
    </ol>
    <p class="c2"><span class="c4">While on the MyCatalogue page users will still be able to search through the entire
            database of books in the same way they could as if they were on the home page. The search bar will still be
            at the top center of the page and to search simply click on the search bar and type in a search for a
            particular book or keyword.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="15">
        <li class="c0"><span class="c1">Logout</span></li>
    </ol>
    <p class="c2"><span class="c4">While on the MyCatalogue page users will still have the ability to logout. To logout
            simply click on the button in the top right labeled logout. After logging out from this page you will be
            defaulted back to the homepage but not logged in.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="16">
        <li class="c0"><span class="c1">Suggest Book</span></li>
    </ol>
    <p class="c2"><span class="c4">While on the MyCatalogue page users will also be able to navigate to the suggest book
            function. Simply click on the button labeled suggest book on the top right of the page and fill out the form
            to submit a book to be added to the database. This function will still be sent to an admin queue where it
            will stay until approved.</span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-1" start="17">
        <li class="c0"><span class="c1">Profile</span></li>
    </ol>
    <p class="c2"><span class="c4">While on the MyCatalogue users will still be able to access details about their
            profile by clicking the profile button in the top left. From here you can perform the same functions of
            editing your account information including the password.</span></p>
    <p class="c2 c8"><span class="c4"></span></p>
    <ol class="c3 lst-kix_yaddvclmozdy-0" start="3">
        <li class="c5 c7"><span class="c1">Bookbot - Return to Homepage</span></li>
    </ol>
    <p class="c5"><span class="c4">At the top left of the screen on any page of the application there will be a button
            labeled BookBot any user can click on this button at any time in order to navigate back to the homepage of
            the site. If you click this button while logged in you will remain logged in.</span></p>
</div>
</div>
<% include ./partials/footer.ejs %>